@import "tailwindcss";

:root {
  --primary: #b91c1c;
  --yellow: #fbbf24;
  --cream: #fff7ed;
  --brown: #78350f;
}

.bg-happy-red {
  background: #ff0000 !important;
}

.text-happy-red {
  color: #ff0000 !important;
}

.bg-blackie {
  background: #282828 !important;
}

.text-blackie {
  color: #282828 !important;
}